<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>login</title>
        <link rel="stylesheet" href="../css/login.css" />
        <script src="jquery-3.4.1.js"></script>
    </head>
    <body>
        <section class="login_form">
            <h1>LOGIN</h1>
            <form method="post">
                <div class="int-area">
                    <input type="text" name="id" id="id" autocomplete="off" required />
                    <label for="id">USER NAME</label>
                </div>
                <div class="int-area">
                    <input type="password" name="pw" id="pw" autocomplete="off" required />
                    <label for="pw">PASSWORD</label>
                </div>
                <div class="btn-area">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="caption">
                <a href="">Forgot Password?</a>
            </div>
            <div class="last_tell">
                <br />
                <span>아직 회원가입을 하지 않았다면?</span><br /><br />
                <p>▽</p>
            </div>
            <div class="bbtn-area">
                <button type="button" onclick="location.href='signup'">회원가입하러 가기</button>
            </div>
        </section>
        <script>
            let id = $('#id');
            let pw = $('#pw');
            let btn = $('#btn');

            $(btn).on('click', function () {
                if ($(id).val() == '') {
                    $(id).next('label').addClass('warning');
                    setTimeout(function () {
                        $('label').removeClass();
                    }, 1500);
                } else if ($(pw).val() == '') {
                    $(pw).next('label').addClass('warning');
                    setTimeout(function () {
                        $('label').removeClass();
                    }, 1500);
                }
            });
        </script>
    </body>
</html>
